<aside class="hidden lg:block tableOfContent" id="tableOfContent">
    {{ .Page.TableOfContents }}
</aside>


<style>
    aside.tableOfContent {
        width: 15vw;
        position: fixed;
        right: 3%;
        top: 79px;
    }

    #tableOfContent li a {
        font-weight: 500;
        font-size: 1rem;
        transition: all 100ms ease-in-out;
    }

    #tableOfContent li.active>a {
        font-weight: bolder;
        font-size: 1.5rem;
        color: rgb(255, 91, 91);
    }

    @media (max-width:1024px) {
        aside.tableOfContent {
            display: none;
        }

    }
</style>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const id = entry.target.getAttribute('id');
                if (entry.intersectionRatio > 0) {
                    clearActiveStatesInTableOfContents()
                    document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
                } else {

                }
            });
        });

        document.querySelectorAll('h2[id], h3[id]').forEach((section) => {
            observer.observe(section);
        });

    });

    function clearActiveStatesInTableOfContents() {
        document.querySelectorAll('aside #TableOfContents li').forEach((section) => {
            section.classList.remove('active');
        });
    }
</script>