<aside class="toc">
    <div class="toc-content sticky-top">
        {{ .Page.TableOfContents }}
    </div>
</aside>

<style>
    
    html, body {
    scroll-padding-top: 100px;
}
    .toc {
        border-right: none;
        padding: 0 0.5rem 0 0;
    }

    .toc .toc-content {
        width: 20%;
        top: 4rem;
        margin-top: 2.5rem;
        padding-left: 0.5rem;
        padding-right: 5rem;
        padding: 1rem;
        line-height: 25px;
    }


    .toc-content ul {
        list-style-type: none;
        margin-bottom: 0px;
    }

    .toc-content ul>li:before {
        display: none
    }

    .toc-content ul li {
        margin-bottom: 0px;
    }

    .toc-content li a {
        font-weight: 400;
        font-size: 0.5rem;
        margin-top: 20px;
        text-decoration: none;
    }

    div.toc-content.sticky-top {
        position: fixed;
        right: 0;
        top: 15vh;
        z-index: 1020;
    }

    a.visible {
        padding-top: .2rem;
        padding-bottom: .2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #01ad9f;
        border-radius: 10px 0px 0px 10px;
        color: white;
    }
</style>

<script>
    window.onload = function () {

        var toc = document.querySelector('.toc-content');
        var tocItems;

        // Factor of screen size that the element must cross
        // before it's considered visible
        var TOP_MARGIN = 0.0,
            BOTTOM_MARGIN = 0.1;

        window.addEventListener('resize', getItems, false);
        window.addEventListener('scroll', sync, false);

        getItems();

        function getItems() {

            tocItems = [].slice.call(toc.querySelectorAll('li'));

            // Cache element references and measurements
            tocItems = tocItems.map(function (item) {
                var anchor = item.querySelector('a');
                if(anchor){
                    var target = document.getElementById(anchor.getAttribute('href').slice(1));
                }

                return {
                    listItem: item,
                    anchor: anchor,
                    target: target
                };
            });

            // Remove missing targets
            tocItems = tocItems.filter(function (item) {
                return !!item.target;
            });

            sync();
        }

        function sync() {

            var windowHeight = window.innerHeight;
            //var windowHeight = document.getElementsByClassName('wrapper')[0].scrollHeight;
            var visibleItems = 0;

            tocItems.forEach(function (item) {

                var targetBounds = item.target.getBoundingClientRect();



                /*if (targetBounds.bottom > windowHeight * TOP_MARGIN && targetBounds.top < windowHeight * (1 - BOTTOM_MARGIN)) {

                    visibleItems += 1;
                    item.anchor.classList.add('visible');
                }
                else {
                    item.anchor.classList.remove('visible');
                }*/

                item.anchor.classList.remove('visible');

                if (targetBounds.top < windowHeight * (1 - BOTTOM_MARGIN)) {
                    visibleItems += 1;
                    item.anchor.classList.add('visible');
                }

            });

        }

    };
</script>