<div class="grid-container">
    <div class="grid-item">
        <ul>
            {{.Inner}}
        </ul>
    </div>
    <div class="grid-item">
        <img class="grid-img" src="{{ .Site.BaseURL }}img/{{ .Page.Params.foldername }}/{{.Get `src`}}"
            alt="{{.Get `alt`}}" width="{{.Get `imgw`}}" />
    </div>
</div>


<style>
    .grid-container {
        display: grid;
        box-sizing: border-box;
        border: 1px dotted gray;
        width: 100%;
        grid-template-columns: auto auto;
        column-gap: 2rem;
        padding: 1rem;
        border-radius: 20px;
        margin-top: 1rem;
    }

    .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        border-radius: 10px;
        text-align: left;
        padding: 1rem;
    }

    .grid-img {
        height: auto;
    }

    .hightlight {
        background-color: yellow;
    }
</style>